.lead__content {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    width: calc(100% - 148px*2);
    margin: 56px auto 0 auto;
}

@media screen and (max-width: 850px) {
.lead__content {
        width: calc(100% - 48px*2);
        margin-top: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__content {
        width: 100%;
    }
}