.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 32px 0 0 0;
    white-space: pre-line;

    position: absolute;
    top: 429px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        top: 379px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        top: 299px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: calc(100% - 16px*2);
        font-size: 14px;
        line-height: 1.1;
        margin: 16px 0 0 0;
        top: 50%;
    }
}

@media screen and (max-width: 321px) {
    .cover__subtitle {
        top: 119px;
    }
}