.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin: 32px 0 0 0;
    white-space: pre-line;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.1;
        margin: 16px 0 0 0;
    }
}