.cover__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    white-space: pre-line;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.1;
    }
}
