.cover__text {
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 1279px) {
    .cover__text {
        top: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__text {
        top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__text {
        width: calc(100% - 16px*2);
    }

    @media screen and (max-width: 452px) {
        .cover__text {
            top: 33px;
        }
    }
}