.header__lng-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__lng-link:first-child {
    margin-right: 15px;
}

@media screen and (max-width: 767px) {
    .header__lng-link {
        font-size: 18px;
        line-height: 20px;
    }
}