.place-card__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

@media screen and (max-width: 1023px) {
    .place-card__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place-card__paragraph {
        font-size: 16px;
    }
}