.photo-grid__content {
    margin: 92px auto 0 auto;
    width: calc(100% - 48px*2);
}

@media screen and (max-width: 1023px) {
    .photo-grid__content {
        width: calc(100% - 24px*2);
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__content {
        margin-top: 64px;
        width: calc(100% - 16px*2);
    }
}